body {
			background: url("../image/fond/fond-decran-bleu-hd-13.jpg")  no-repeat fixed center ;
						}
.redstone {
	width:50px;
	height:50px;
	}
.creeper {
	width:100px;
	height:200px;
	}
.sorcière {
	width:90px;
	height:200px;
	}
.ghast {
	width:180px;
	height:200px;
	}
.table{
	border-collapse: collapse;

}
	
.table, td {
	border: 1px solid black;

}
.potblc {
	background-color: rgb(255,255,25)
}	
	
	
	
	
	
	
